# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log
@sap


# ----------------------------------------
# ENV
# ----------------------------------------
.env

.DS_Store
